# Ignore all
*

# Unignore all with extensions
!*.*
a.out # a.out ignore
# Unignore all dirs
!*/

a.out
.idea/
cmake*/
virtualenv/
__pycache__/
*.cflags
*.config
*.creator
*.cxxflag
*.files
*.includes
*.creator.user
*.cxxflags
*.o
*CMake*
!CMakeLists.txt
build/
